   

.listitem
{
    background-color: #2F2F2F;
    border: #2F2F2F;
    text-align: justify;
    margin-top:15px;
    height: 35px;
    text-decoration: none;
    font-size: 16px;
   width: 120%;
   padding-left:30px;
   
   
   
}

.listitem:hover
{
 background-color:#DC2121;
    color: inherit;
}

.paragraphcontent
{
    
    padding-left:40px;
     font-size: 16px;
     padding-top: 50px;
     padding-top: 0%;
     color: #FFFFFF;
}
.paragraph
{
    display: flex;
}
ul 
{
list-style-type: none;
}
.content
{

    display: block;
 background-color: #6B6B6B;
 
 
}
.alignleft
{
float: left;
color: #FFFFFF;
font-size: 16px;
margin-left: 70px;
/* padding-left: 100px; */
}
.alignright
{
float: right;
color: #FFFFFF;
font-size: 16px;
margin-right: 70px;
}

.figure-caption
{
    color: yellow;
    font-size: 12px;
   
}
.right{
margin-right:5%;
margin-left:5%;
}

/* @media only screen and  (max-width:993px)
{
    .listitem
    {
        display: block;
        width: 85%;
        margin-right:30px;

    }
} */


@media (min-width: 768px) and (max-width: 992px) 
{
    .listitem
    {
        display: block;
        width: 100%;
        margin-right:20px;

    }
    .footer
    {
       margin-left: 1%;
    }
    .alignleft
    {
        margin-left: 15%;
    }
    .alignright
    {
        margin-right: 10%;
    }
}


@media (min-width: 576px) and (max-width:768px)
{

    .listitem
    {
        display: block;
        width: 105%;
        margin-right:20px;
    }
    .footer
    {
        margin-left: 1%;
    }
    .alignleft
    {
        margin-left: 15%;
    }
    .alignright
    {
        margin-right: 1%;
    }
    .right
    {
     margin-left: 0%;
    }
    
}
 @media (min-width: 576px) and (max-width:576) {
    .listitem
    {
        display: block;
        width: 40%;
   }
  
  
   
} 

 /* @media screen and (max-width:768) {
    .listitem
    {
        width: 50%;
        display: block;
    }
    .paragraph
    {
        display: block;
    }
     

 } */
