   

.listitem
{
    background-color: #2F2F2F;
    border: #2F2F2F;
    text-align: justify;
    margin-top:15px;
    height: 35px;
    text-decoration: none;
    font-size: 16px;
   width: 120%;
   padding-left:30px;
   
   
}

.listitem:hover
{
 background-color:#DC2121;
    color: inherit;
}

.paragraphcontent
{
    
    padding-left:40px;
     font-size: 16px;
     padding-top: 50px;
     padding-top: 0%;
     color: #FFFFFF;
}
.paragraph
{
    display: flex;
}
ul 
{
list-style-type: none;
}

@media only screen and  (max-width:993px)
{
    .listitem
    {
        display: block;
        width: 85%;
        margin-right: 30px;

    }
}

@media screen and (max-width:768) {
    .listitem
    {
        width: 50%;
        display: block;
    }
    .paragraph
    {
        display: block;
    }
    


